.form-container {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ddcece;
    margin-top: 50px;
}

.input-group lable {
    display: block;
}

label {
    display: block;
    font-size: 25px;
    font-weight: bold;
}

.input-group input {
    width: 415px;
    height: 38px;
}

input.from-submti {
    width: 423px;
    height: 38px;
    padding: 12px;
    margin-top: 20px;
    border: navajowhite;
    background: #e4bd75;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;

}

a {
    text-decoration: none;
    color: orange;
}
